<% include partials/header %>
<div class="container">
	<h1>Donor list</h1>
    <div class="row">

        <ul>
            <%donors.forEach(function(donor){%>
                <li><div >                    
                    <h1><%=donor.name%> </h1>
                    <h4><%= donor.userType %></h4>
                     Contact :    <%= donor.contactNumber%>
                     <% if (donor.userType == "Hospital") { %>
                        <div class="form-group">
                            <label>
                        <form action="/hospitalquery" method="post">
                        <input type="hidden" name="username" value=<%= donor.local.username %> >
                        <button type="submit" class="btn btn-primary" >View Hospital</button>
                        </form></label></div>
                        <%}%> 
                 </div></li>

                <%});%>
        </ul>
    </div>

<% include partials/footer %>