<% include partials/header %>

<div class= container>
<h1  >WELCOME TO BLOOD BUDDY....</h1>
<a href="/auth/facebook">Login with Facebook</a><br>
<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
</div>

<% include partials/footer %>