<p>
    <strong>id</strong>: <%= donor.google.id %><br>
    <strong>token</strong>: <%= donor.google.token %><br>
    <strong>email</strong>: <%= donor.google.email %><br>
    <strong>name</strong>: <%= donor.google.name %>
</p>